 
#greece{
    width: 6vw;
    height:10.5vh;
    margin-top: -3.5vh;
      
     
} 


#plus{
    width: 40px;
    height: 40px;  
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 0px 0px 20px black;
    -webkit-transition: all 0.1s ease-in-out;
    float: right;
   


}
#devtitle{
    color: white;
    text-shadow: 0px 0px 10px black; 
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em; 
    font-weight: bold; 
    float: left;  
}

#plus:hover{
    -webkit-transform: rotateZ(45deg); 
}
    
html,body{
    height: 100%; 
    /*overflow-y: hidden;*/
}
.navbar-header{
    margin-left: 2%;
    margin-top: 0.2%;
}
#content-views{
    height: 100%;
}

.navbar-default{
    bottom: 0px;
}

body{
    background-image: url('/pages/img/intro_new.jpg');
    /*background-size: cover;*/
    background-color: #3361B6;
}
 .navbar {
    
    background-color: rgba(66,133,244,0.7);
    /*background-color: white;*/
    box-shadow: 0px 5px 40px black;
  

}
 


.navbar{
   
    z-index: 999;

}

li>a{
    color: white; 
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3vh;
    /*text-shadow: 2px 2px 2px #054F2A;*/
    font-weight: bold;

}


 @media only screen and (max-width: 414px) and (max-width: 736px) {
    /* For Iphones: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}  
    #greece{
        width: 60px;
        height: 50px;
        margin-top: 0;
    }

    #myimg{
        height: 100vh;

    }
    #myimg1{
        position: fixed;
    }

    #myimg2{
        display: none;
    }
    .nav>li{
        border-bottom:1px solid #3361B6;  
    }
    .nav>li>a>*{
        text-shadow: 0px 0px 5px black;
    }

    #proj2>*{
        display: none;
    }

 
}
/*
.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
    background-color: #054F2A;
    border: 1px solid rgba(0,0,0,0.5);
    -webkit-transition: all 0.2s ease-in-out !important;    
    color: white;  
     

    
}

.navbar-custom .navbar-nav > li > a:hover{
    box-shadow: 5px 5px 50px white;
    -webkit-transition: all 0.2s ease-in-out;   
       font-size:3.1vh;

}
 
.nav{
    margin-left: 12%;
}*/

::-webkit-scrollbar {
    width: 1vw;

}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10vw #4285F4; 
    border-radius: 10px;
    background-color: white;
    /*border: 2px groove #4285F4;*/
}
 
::-webkit-scrollbar-thumb {
    border-radius: 50px;
    -webkit-box-shadow: inset 0 0 6vw white;
    background-color: #4285F4;
    /*border:1px solid white;*/


}



  
 .ng-enter, .ng-leave { width:100%; position:absolute; }
 .ng-enter {
 -webkit-animation:zoomInDown 2s both ease-in;
 -moz-animation:zoomInDown 2s both ease-in;
 animation:zoomInDown 2s both ease-in;
 opacity: 1;
 }
 .ng-leave {
 -webkit-animation:zoomOutDown 1s both ease-in-out;
 -moz-animation:zoomOutDown 1s both ease-in-out;
 animation:zoomOutDown 1s both ease-in-out;
}


#myimg{ 
    float: left; 
    position: absolute;
    height: 100vh;
}
 
 


#myimg1{  
     /*position: absolute;*/
     margin-left: 10%;
     margin-top: 5%;

}
#myimg2{  
     position: absolute;
     right: 0;
     bottom: 0;
     margin-bottom: 11vh;
     margin-right: 11vw;
     /*float: right;*/
     width: 8%;
     height: 12%;

}


#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 80%;
    top: 70%;
    width: 150px;
    height: 150px; 
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FFFFFF;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */ 
    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #FFFFFF;

        -webkit-animation: spine 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spine 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #FFFFFF;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @-webkit-keyframes spine {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(-360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(-360deg);  /* IE 9 */
            transform: rotate(-360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spine {
        0%   { 
            -webkit-transform: rotate(-360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(-360deg);  /* IE 9 */
            transform: rotate(-360deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background: #3361B6;
        /*background-image: url('helmet.png');*/
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }
 
    #loader-wrapper .loader-section.section-right {
        right: 0;

    }

     .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(100%);  /* IE 9 */
        transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
