@-webkit-keyframes myrotate{
        from{-webkit-transform: rotateY(0deg)}
        50%{-webkit-transform: rotateY(360deg) }
        to{-webkit-transform: rotateY(0deg)}
    } 
#greece{
    width: 1.5vw;
    height: 4vh;
    margin-top: 1vh;
    margin-left: 0.25vw;

}

#plus{
    width: 40px;
    height: 40px;  
    border-radius: 50%;
    border: 3px groove white;
    box-shadow: 0px 0px 20px black;
    -webkit-transition: all 0.1s ease-in-out;
    float: right;
   


}
#devtitle{
    color: white; 
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em; 
    font-weight: bold; 
    float: left;   
}

#plus:hover{
    -webkit-transform: rotateZ(45deg); 
}
    
html,body{
    height: 100%; 

}
.navbar-header{
    margin-left: 2%;
    margin-top: 0.2%;
}
#content-views{
    height: 100%;
}

.navbar-default{
    bottom: 0px;
}

body{
    background-image: url('/pages/img/intro_new.jpg');
    /*background-size: cover;*/
    background-color: #3361B6;
}
 .navbar {
    
    background-color: rgba(66,133,244,0.7);
    /*background-color: white;*/
    box-shadow: 0px 5px 40px black;
  

}

#greece{
    width: 4vw;
    height:6vh;
    margin-top: -0.4vh;
    -webkit-animation: myrotate 5s ease-in-out infinite;
}


.navbar{
   
    z-index: 999;

}

li>a{
    color: white; 
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3vh;
    /*text-shadow: 2px 2px 2px #054F2A;*/
    font-weight: bold;

}


 @media only screen and (max-width: 414px) and (max-width: 736px) {
    /* For Iphones: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}  
    #greece{
        width: 40px;
        height: 40px;
    }
 
}
/*
.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
    background-color: #054F2A;
    border: 1px solid rgba(0,0,0,0.5);
    -webkit-transition: all 0.2s ease-in-out !important;    
    color: white;  
     

    
}

.navbar-custom .navbar-nav > li > a:hover{
    box-shadow: 5px 5px 50px white;
    -webkit-transition: all 0.2s ease-in-out;   
       font-size:3.1vh;

}
 
.nav{
    margin-left: 12%;
}*/

::-webkit-scrollbar {
    width: 1vw;

}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10vw #4285F4; 
    border-radius: 10px;
    background-color: white;
    /*border: 2px groove #4285F4;*/
}
 
::-webkit-scrollbar-thumb {
    border-radius: 50px;
    -webkit-box-shadow: inset 0 0 6vw white;
    background-color: #4285F4;
    /*border:1px solid white;*/


}



  
 .ng-enter, .ng-leave { width:100%; position:absolute; }
 .ng-enter {
 -webkit-animation:zoomInDown 2s both ease-in;
 -moz-animation:zoomInDown 2s both ease-in;
 animation:zoomInDown 2s both ease-in;
 opacity: 1;
 }
 .ng-leave {
 -webkit-animation:zoomOutDown 1s both ease-in-out;
 -moz-animation:zoomOutDown 1s both ease-in-out;
 animation:zoomOutDown 1s both ease-in-out;
}